<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ncsu.csc.crowdfarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/appBackground" android:debuggable="true">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activities.LoginActivity" android:noHistory="true">
            
        </activity>
         <activity 
            android:name=".activities.HomeActivity">
            
        </activity>
         <activity 
             android:name=".activities.RegisterActivity" 
             android:permission="android.permission.GET_ACCOUNTS">
             
         </activity>
         <activity android:name=".activities.ViewProduceActivity"></activity>
         <activity android:name=".activities.AddProduceActivity"></activity>
         <activity android:name=".activities.SettingsActivity"></activity>
    </application>

</manifest>